<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaPractical/src/com/pactice/java/MaxInMinColumn.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.pactice.java.MaxInMinColumn"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaPractical"/>
</launchConfiguration>
